<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <div class="nav-bar">
    <% if @user %>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="auth-button" />
    </form>
    <% end %>

    <% if @user %>
    <p class="welcome-message">Welcome, <%= @user.email %> </h1>
    <% end %>
  </div>
  <h1> NapLand </h1>
  
  <ul>
    <% @all_spaces.each do |space|%>
      <li>
        Name: <%= space.name %>
        Description: <%= space.description %>
        Price: <%= space.price %>
        Available from: <%= space.available_from %>
        Available to: <%= space.available_to %>
      </li>
    <%end%>
  </ul>
  <form action="/spaces/new" method="GET">
    <input type="submit" value="Create Space">
  </form>
</body>
</html>

