<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <div class="nav-bar">
    <% if @user %>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="auth-button" />
    </form>
    <% end %>

    <% if @user %>
    <p class="welcome-message">Welcome, <%= @user.email %> </h1>
    <% end %>
  </div>
  <h1> NapLand </h1>
  <h2> Let's find a place for you </h2>
  <h2 id="request-confirmation">
    <%= flash[:notice] %>
  </h2>
  <form action="/spaces/new" method="GET">
    <input class="button" type="submit" value="List a Space">
  </form>
  <br>
  <form action='/spaces/available_listings' method='get'>
    <input type="text" name="date_from" placeholder="From (YYYY-MM-DD)">
    <input type="text" name="date_to" placeholder="To (YYYY-MM-DD)">
    <input class="button" type="submit" value="See Available Spaces" />
  </form>
  <ul>
    <% @all_spaces.each do |space|%>
    <div id="<%= space.id %>" class=listing >
      <span class=listing_name> <%= space.name %><br></span>
      <%= space.description %>
      Price: £<%= space.price %>
      Available from: <%= space.available_from %>
      Available to: <%= space.available_to %>
    
      <form action="/spaces/<%= space.id %>" method="POST">
        <input type="submit" value="Request space" />
      </form>
    </div>
  <%end%>
  </ul>
</body>
</html>

