<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <div class="nav-bar">
    <% if @user %>
    <form action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out" class="auth-button" />
    </form>
    <% end %>

    <% if @user %>
    <p class="welcome-message">Welcome, <%= @user.email %> </h1>
    <% end %>
  </div>
  <h1> NapLand </h1>
  <h2> Let's find a place for you </h2>
  <ul>
    <div class=listing >
      <span class=listing_name><%= @space.name %></span>
      <br>
      <br>
      <%= @space.description %>
      <br>
      Price: £<%= @space.price %>
      <br>
      Available from: <%= @space.available_from %>
      <br>
      Available to: <%= @space.available_to %>
      <br>
      <br>
      <form action="/requests" method="POST">
        <input class="secondary-button" type="submit" value="Request space" />
      </form>
    </div>
  </ul>
</body>
</html>

